.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#box{
  height: 100vh;
  width: 100%;
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#main{
  height: 400px;
  width: 800px;
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#votea{
  height: 80%;
  width: 40%;
  border: 3px solid #023047;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#voteb{
  height: 80%;
  width: 40%;
  border: 3px solid #023047;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#h{
  font-size: 30px;
  color: #219ebc;
}
h1{
  color: #219ebc;
}
button{
  padding: 10px 28px;
  background-color: #023047;
  color: white;
  border: 0px solid beige;
  margin: 10px 0px;
}

#total{
  border: 3px solid #023047;
  height: 100px;
  width: 400px;
}
button:disabled{
  color: gray;
  background-color: #075e8a;
}