*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#box{
    height: 100vh;
    width: 100%;
    /* border: 3px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #023047;

}
#inner{
    height: auto;
    width: 300px;
    padding: 50px 100px;
    /* border: 1px solid blue; */
    background: rgba(238, 174, 202, 0.032);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(69, 100, 136, 0.185) 100%);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
input,button{
    background-color: white;
    border: 0;
    padding: 4px 10px;
    border-radius: 5px;
}
button{
    width: 100%;
    margin-bottom: 20px;
    color: #023047;
    font-weight: bold;
}
button:hover{
    background-color: #023047;
    color: white;
    cursor: pointer;
}
h5{
    color: white;
}
h1{
    color: white;
    padding-bottom: 20px;
}
button:disabled{
    background-color: #02304773;
    color: white;
}